.container {
	width: 980px;
	height: 1386px;
	margin: 0px auto;
	background-color: #fff;
	position: relative;
	color: #424242;
	padding: 0px 44px;
}
.logo{
	height: 62px;
	border-bottom: 2px solid #938e8c;
}
.logo span{
	font-size: 14px;
	color: red;
	position: absolute;
	top: 46px;
	right: 44px;
}
.article .top{
	height: 300px;
	margin: 30px 0px;
}
.top_right {
	border-top: 2px solid #cc8091;
	width: 243px;
	position: absolute;
	top: 93px;
	right: 44px;
	text-align: left;
}
.top_right span{
	display: inline-block;
	font-family: '微软雅黑';
}
.top_right span.p1:first-letter{
	font-size: 26px;
	color: black;
}
.top_right span.p1{
	font-size: 22px;
	text-decoration:underline;
	line-height: 30px;
	letter-spacing:1px;
}
.top_right span.p2{
	font-family: '楷体';
	font-size: 12px;
	line-height: 10px;
	color: #636363;
}
.top_right .p3{
	font-size: 116px;
	color: #75b86b;
}
.top_right .p4{
	float: left;
	font-size: 55px;
    color: #cc8091;
}
.top_right .p5{
	float: left;
	color: #9E9E9E;
	font-size: 12px;
}
.top_right .p5:first-line{
	color: #CD6889;
	font-size: 21px;
	font-weight: 700;
}
.middle {
	width: 641px;
	height: 220px;
	position: relative;
	color: #7F7F7F;
	font-size: 15px;
	line-height: 18px;
}
.article1{
	position: absolute;
	top: 5px;
	left: 0px;
	width: 210px;
}
.article2{
	position: absolute;
	top: 5px;
	left: 230px;
	width: 210px;
}
.article3{
	position: absolute;
	top: 5px;
	right: 0px;
	width: 185px;
}
.article1 span,.article2 span,.article3 span{
	font-size: 20px;
	color: #CD6889;
	text-decoration: underline;
}
.middle .article1 p{
	font-size: 12px;
	color: #767777;
	font-family: '宋体';
	line-height: 16px;
}
.middle .article2 p{
	font-size: 12px;
	color: #231815;
	font-family: '微软雅黑';
	line-height: 16px;
	opacity: 0.7;
	-moz-opacity: 0.7;
	-webkit-opacity: 0.7;
}
.middle .article3 p{
	font-size: 12px;
	color: #231815;
	font-family: '微软雅黑';
	line-height: 16px;
	opacity: 0.7;
	-moz-opacity: 0.7;
	-webkit-opacity: 0.7;
}
.middle .article3 .digital{
	font-size: 12px;
	color: #cd4a48;
	font-family: '微软雅黑';
	line-height: 16px;
	text-decoration: none;
}
.bottom {
	width: 100%;
	border-bottom: 1px solid #938e8c;
	margin:30px 0px;
	position: relative;
}
.bottom .left{
	width: 485px;
	height: 670px;
}
.bottom .left .left_title{
	border-bottom:2px solid #11456b;
	padding: 10px 0px;
}
.bottom .left .left_title .span1{
	font-size: 42px;
	font-family: '黑体';
	padding-bottom: 16px;
	color: #11456b;
	font-weight: 700;
}
.bottom .left .left_title .span1:before{
	content: 'THE';
	font-size: 72px;
	color: #f5e327;
	font-family: '黑体';
	font-style: italic ;
	font-weight: 700;
}
.bottom .left .left_title .span2{
	font-size: 33px;
	font-family: '黑体';
	padding-bottom: 16px;
	color: #11456b;
	font-weight: 700;
}
.bottom .left .left_article{
	text-align: justify;
	font-family: '宋体';
	color: #767777;
	font-size: 12px;
	line-height: 17px;
	padding: 10px 0px;
}
.bottom .left .left_article p:first-letter{
	font-size: 70px;
	color: #f5e327;
	font-family: '微软雅黑';
	float: left;
	margin: 20px 10px 20px 0px;
}
.bottom .left img{	
	margin: 20px 0 20px 20px;
	float: right;
	width: 140px;
	height: 270px;
}
.bottom .right{
	position: absolute;
	top: 0px; 
	right: 0px;
}
.bottom .right .class_title{
	position: absolute;
	top: 210px;
	left: 40px;
	z-index: 2;
	font-size: 26px;
	color: #fff;
	font-family: '微软雅黑';
	border-left: 3px solid #72b16a;
	padding-left: 5px;
}
.bottom .right #id1 {
	font-size: 12px;
	color: #fff;
	font-style: italic;
}
.bottom .right .bottom_model{
	width: 459px;
	height: 318px;
	position: absolute;
	top: 300px;
	right: 0px;
	background-color: #EEEED1;
}
.bottom .right .bottom_model .bottom_article{
	font-size: 16px;
	color: #5a5b5b;
	font-family: '宋体';
	text-align: left;
	line-height: 40px;
    margin: 20px;
    display: inline-block;
}
.bottom_article span:before{
	content: '\25B2';
	font-size: 12px;
	color: #000080;
	margin-right: 5px;
}
.bottom_last {
	position: absolute;
	bottom: 0px;
	left: 0px;
	height: 160px;
	width: 260px;
	background-color: #FF6A6A;
	box-sizing:border-box;
	-moz-box-sizing:border-box; /* Firefox */
	-webkit-box-sizing:border-box; /* Safari */
}
.bottom_last #id2 {
	font-size: 110px;
	color: #fff;
	position: absolute;
	left: 10px;
	bottom: -90px;
}
.bottom_last #id3 {
	font-size: 21px;
    color: #fff;
    font-family: '宋体';
    height: 86px;
    position: absolute;
    left: 80px;
    bottom: 16px;
    border-left: 2px solid #fff;
    vertical-align: middle;
    padding-left: 10px;
}
.bottom_last #id3 span {
    font-size: 12px;
    font-family: '宋体';
    line-height: 12px;
}
.bottom_last_last {
    position: absolute;
    right: 0px;
    bottom: 0px;
    width: 180px;
    height: 160px;
    font-size: 14px;
    color: #5a5b5b;
    line-height: 16px;
    font-family: '宋体';
}
.bottom_last_last span:before{
	content: "\201C";
    font-size: 72px;
    color: #d45d5c;
    font-family: '宋体';
}
.bottom_last_last span:after{
	content: "\201D";
    font-size: 72px;
    color: #d45d5c;
    font-family: '宋体';
    display: inline;
}
.last {
	font-size: 12px;
    color: #d45d5c;
    position: absolute;
    right: 44px;
    bottom: 22px;
}


