.box {
	width: 600px;
	height: 100px;
	border: 3px solid #ccc;
	background-color:  #8064A2;
}
.box span{
	display: inline-block; /*将对象呈现为inline对象，但是对象的内容作为block对象呈现*/
	width: 25px;
	height: 25px;
	border: 3px solid #ccc;
	background-image: url(bg.jpg) ;
	background-repeat: no-repeat;
	margin: 5px;
}
.icon1 {
	background-position: 0 0;
}
.icon2 {
	background-position: -40px 0;
}
.icon3 {
	background-position: 0 -25px;
}
.icon4 {
	background-position: -40px -50px;
}
.checkradio {
	margin: 10px 0 10px
}
.check_radio,.check_box{
	width: 16px;
	height: 16px;
}
.check_box+label,.check_radio+label{
	width: 16px;
	height: 16px;
	border: 1px solid #d9d9d9;
	display: inline-block;
	margin: 0 10px;
}
.check_box:checked+label,.check_radio:checked+label{
	border:2px solid #CD0000;
	font-weight: 800;
}
.check_box:checked+label::after{
	content: '\2714';
	color: #CD0000;
	margin: auto;
	font-size: 16px;
	width: 8px;
	height: 8px;
	text-align: center;
	line-height: 8px;
}
input {
	margin: 0;
	display: none;
}
/*radio*/

.check_radio+label{
	border-radius: 100px;
}
.check_radio:checked+label::after{
	content: '\2022';
	text-align: center;
	line-height: 8px;
}